.navbar {
  padding: 20px;
  background-color: rgb(170, 204, 248);
  font-weight: bold;
}

.search {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.card {
  display: flex;
  justify-content: center;
  
}